<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fiscal Charts</title>

</head>

<body>
    <div id="fiscal-chart-selector-container">
        <label for="fiscal-country-dropdown">Category: </label>
        <select id="fiscal-country-dropdown"></select>
    </div>
    <div id="fiscal-chart-container"></div>

    <script>
        // Get the current hostname
        var currentHost = window.location.hostname;
        console.log(currentHost)
        let baseUrl = "";
        // Define the new domain based on the current host
        if (currentHost === 'localhost') {
            baseUrl = 'http://localhost:5000';
        } else if (currentHost === 'www.uprm.edu') {
            baseUrl = "https://fsdcbackend.ddns.net"
        }

        async function fetchCountries() {
            const fetchUrl = new URL("get_fiscal_country_list", baseUrl)
            return await fetch(fetchUrl)
                .then(res => res.json())
        }

        async function populateFiscalCountries() {
            let countries = await fetchCountries();
            const dropdown = document.getElementById('fiscal-country-dropdown');
            for (let key in countries) {
                if (countries.hasOwnProperty(key)) {
                    let option = document.createElement('option');
                    option.value = countries[key];
                    option.textContent = countries[key];
                    dropdown.appendChild(option);
                }
            }

            // Add event listener for dropdown changes
            dropdown.addEventListener('change', handleCountryChange);

            // Handle default selection for initial graph
            await handleCountryChange({ target: dropdown });
        }

        populateFiscalCountries()

        async function handleCountryChange(event) {

            // Set initial innerHTML to "Loading"
            const container_div = document.getElementById("fiscal-chart-container")
            container_div.innerHTML = "<h1>Loading<h1>"

            const selectedCountry = event.target.value;

            // Fetch respective Plotly graph for category
            const url = new URL("get_fiscal_chart", baseUrl) // Responds with a Plotly div
            url.searchParams.append("country", selectedCountry)

            // Update innerHTMl with selected plotly chart
            container_div.innerHTML = await fetch(url).then(res => res.text())

            // Re-render any necessary scripts for Plotly or other libraries
            const scripts = container_div.getElementsByTagName('script');
            for (let script of scripts) {
                eval(script.innerHTML); // Evaluate inline scripts for Plotly
            }
        }
    </script>

</body>

</html>