<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Macronutrients Chart</title>

</head>

<body>
    <div id="macronutrient-chart-selector-container">
        <label for="macronutrient-category-dropdown">Category: </label>
        <select id="macronutrient-category-dropdown"></select>
    </div>
    <div id="macronutrient-chart-container"></div>

    <script>
        // Get the current hostname
        var currentHost = window.location.hostname;
        console.log(currentHost)
        let baseUrl = "";
        // Define the new domain based on the current host
        if (currentHost === 'localhost') {
            baseUrl = 'http://localhost:5000';
        } else if (currentHost === 'www.uprm.edu') {
            baseUrl = "https://fsdcbackend.ddns.net"
        }

        async function fetchCategories() {
            const fetchUrl = new URL("get_macronutrient_list", baseUrl)
            return await fetch(fetchUrl)
                .then(res => res.json())
        }

        async function populateMacronutrientCategories() {
            let categories = await fetchCategories();
            const dropdown = document.getElementById('macronutrient-category-dropdown');
            for (let key in categories) {
                if (categories.hasOwnProperty(key)) {
                    let option = document.createElement('option');
                    console.log(option)
                    option.value = categories[key];
                    option.textContent = categories[key];
                    dropdown.appendChild(option);
                }
            }

            // Add event listener for dropdown changes
            dropdown.addEventListener('change', handleCategoryChange);

            // Handle default selection for initial graph
            await handleCategoryChange({ target: dropdown });
        }

        populateMacronutrientCategories()

        async function handleCategoryChange(event) {

            // Set initial innerHTML to "Loading"
            const container_div = document.getElementById("macronutrient-chart-container")
            container_div.innerHTML = "<h1>Loading<h1>"

            const selectedCategory = event.target.value;
            console.log(selectedCategory)

            // Fetch respective Plotly graph for category
            const url = new URL("get_macronutrient_chart", baseUrl) // Responds with a Plotly div
            url.searchParams.append("category", selectedCategory)

            // Update innerHTMl with selected plotly chart
            container_div.innerHTML = await fetch(url).then(res => res.text())

            // Re-render any necessary scripts for Plotly or other libraries
            const scripts = container_div.getElementsByTagName('script');
            for (let script of scripts) {
                eval(script.innerHTML); // Evaluate inline scripts for Plotly
            }
        }
    </script>

</body>

</html>